* {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(8, 8, 8, 0.048);
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}
h1{
    font-size: 35px;
    color: rgb(49, 49, 121);
}
h2{
    font-size: 20px;
}